 <li class="p-4 bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-2">
        <%= link_to tweet.user.username, user_path(tweet.user), class: "font-bold text-lg" %>
        <small class="text-gray-500 text-sm">
            <%= tweet.created_at.strftime("%b %d, %Y") %>
        </small>
    </div>
    <p class="text-gray-800">
        <%= link_to tweet.body, tweet_path(tweet) %>
    </p>
</li>

<%# <div class="p-4 bg-white rounded-lg shadow-md">
    <%= link_to tweet.user.comments,  tweet_comments_path %>

    <%# <% end %>
<%# </div> %> 