<div class="flex justify-center items-center w-full p-4">
  <div class="col-span-6 bg-gray-100 p-4 rounded-lg shadow-md">
    <div class="flex flex-col p-2 mb-2 bg-gray-100 rounded-lg shadow-md">
      <h1 class="font-bold text-xl"><%= @tweet.user.username %></h1>
      <h1><%= @tweet.body %></h1>
    </div>
    <div class="p-2">
      <h2 class="text-base font-semibold">comments</h2>
      <%= render "comment_form", tweet: @tweet %>
      <ul class="space-y-2">
        <% @comments.each do |comment| %>
          <%= render "comment", comment: comment%>
        <% end %>
        <% if @comments.empty? %>
          <p class="text-gray-500 mt-4">No comments yet. Be the first to comment!</p>
        <% end %>
      </ul>
    </div>
  </div>
</div>