<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :avatar, "Upload Profile Picture" %>
    <%= form.file_field :avatar %>
  </div>
  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>