<li class="border-b border-gray-200 pb-4">
	<p class="text-gray-700"><%= tweet.body %></p>
	<p class="text-sm text-gray-500 mt-2">Posted at: <%= tweet.created_at.strftime("%d %b %Y, %H:%M") %></p>
</li>